<nav class="header-nav {% if theme_config.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ home_url }}" class="header-logo" title="{{ site.title }}" {% if theme_config.header_font == "cormorant" %} style="font-family: 'Cormorant Garamond', Courier, serif;"{% endif %}>{{ site.title }}</a>
  <ul class="header-links">

    {% for p in pages.children.visible %}
        {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
            <li>


                <a href="{{ p.url }}" class="{{ active_page }}">
                   {% if p.header.iconmenu %}
              <i class="fa {{p.header.iconmenu }}"></i>
              {% endif %} {{ p.menu }}
                </a>
            </li>
    {% endfor %}



    {% if theme_config.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-about">
  <use href="{{url('theme://templates/icons/about.svg')}}#icon-about" xlink:href="{{url('theme://templates/icons/about.svg')}}#icon-about">
          {% include 'icons/about.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_twitter %}
      <li>
        <a href="https://twitter.com/{{ theme_config.social_twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-twitter">
  <use href="{{url('theme://templates/icons/twitter.svg')}}#icon-twitter" xlink:href="{{url('theme://templates/icons/twitter.svg')}}#icon-twitter">
          {% include 'icons/twitter.svg' %}
        </use>
    </svg>
        </a>
      </li>

    {% endif %}
    {% if theme_config.social_facebook %}
      <li>
        <a href="https://www.facebook.com/{{ theme_config.social_facebook }}" rel="noreferrer noopener" target="_blank" title="Facebook">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-facebook">
  <use href="{{url('theme://templates/icons/facebook.svg')}}#icon-facebook" xlink:href="{{url('theme://templates/icons/facebook.svg')}}#icon-facebook">
          {% include 'icons/facebook.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_medium %}
      <li>
        <a href="https://medium.com/{{ theme_config.social_medium }}" rel="noreferrer noopener" target="_blank" title="Medium">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-medium">
  <use href="{{url('theme://templates/icons/medium.svg')}}#icon-medium" xlink:href="{{url('theme://templates/icons/medium.svg')}}#icon-medium">
          {% include 'icons/medium.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_github %}
      <li>
        <a href="https://github.com/{{ theme_config.social_github }}" rel="noreferrer noopener" target="_blank" title="GitHub">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-github">
  <use href="{{url('theme://templates/icons/github.svg')}}#icon-github" xlink:href="{{url('theme://templates/icons/github.svg')}}#icon-github">
          {% include 'icons/github.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_gitlab %}
      <li>
        <a href="https://gitlab.com/{{ theme_config.social_gitlab }}" rel="noreferrer noopener" target="_blank" title="GitLab">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-gitlab">
  <use href="{{url('theme://templates/icons/gitlab.svg')}}#icon-gitlab" xlink:href="{{url('theme://templates/icons/gitlab.svg')}}#icon-gitlab">
          {% include 'icons/gitlab.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_bitbucket %}
      <li>
        <a href="https://bitbucket.org/{{ theme_config.social_bitbucket }}" rel="noreferrer noopener" target="_blank" title="Bitbucket">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-bitbucket">
  <use href="{{url('theme://templates/icons/bitbucket.svg')}}#icon-bitbucket" xlink:href="{{url('theme://templates/icons/bitbucket.svg')}}#icon-bitbucket">
          {% include 'icons/bitbucket.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_stackoverflow %}
      <li>
        <a href="https://stackoverflow.com/users/{{ theme_config.social_stackoverflow }}" rel="noreferrer noopener" target="_blank" title="Stack Overflow">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-stackoverflow">
  <use href="{{url('theme://templates/icons/stackoverflow.svg')}}#icon-stackoverflow" xlink:href="{{url('theme://templates/icons/stackoverflow.svg')}}#icon-stackoverflow">
          {% include 'icons/stackoverflow.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_keybase %}
      <li>
        <a href="https://keybase.io/{{ theme_config.social_keybase }}" rel="noreferrer noopener" target="_blank" title="Keybase">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-keybase">
  <use href="{{url('theme://templates/icons/keybase.svg')}}#icon-keybase" xlink:href="{{url('theme://templates/icons/keybase.svg')}}#icon-keybase">
          {% include 'icons/keybase.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_docker %}
      <li>
        <a href="https://hub.docker.com/r/{{ theme_config.social_docker }}" rel="noreferrer noopener" target="_blank" title="Docker Hub">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-docker">
  <use href="{{url('theme://templates/icons/docker.svg')}}#icon-docker" xlink:href="{{url('theme://templates/icons/docker.svg')}}#icon-docker">
          {% include 'icons/docker.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ theme_config.social_linkedin }}" rel="noreferrer noopener" target="_blank" title="LinkedIn">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-linkedin">
  <use href="{{url('theme://templates/icons/linkedin.svg')}}#icon-linkedin" xlink:href="{{url('theme://templates/icons/linkedin.svg')}}#icon-linkedin">
          {% include 'icons/linkedin.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_dribbble %}
      <li>
        <a href="https://dribbble.com/{{ theme_config.social_dribbble }}" rel="noreferrer noopener" target="_blank" title="Dribbble">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-dribbble">
  <use href="{{url('theme://templates/icons/dribbble.svg')}}#icon-dribbble" xlink:href="{{url('theme://templates/icons/dribbble.svg')}}#icon-dribbble">
          {% include 'icons/dribbble.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_flickr %}
      <li>
        <a href="https://www.flickr.com/photos/{{ theme_config.social_flickr }}" rel="noreferrer noopener" target="_blank" title="Flickr">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-flickr">
  <use href="{{url('theme://templates/icons/flickr.svg')}}#icon-flickr" xlink:href="{{url('theme://templates/icons/flickr.svg')}}#icon-flickr">
          {% include 'icons/flickr.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_instagram %}
      <li>
        <a href="https://instagram.com/{{ theme_config.social_instagram }}" rel="noreferrer noopener" target="_blank" title="Instagram">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-instagram">
  <use href="{{url('theme://templates/icons/instagram.svg')}}#icon-instagram" xlink:href="{{url('theme://templates/icons/instagram.svg')}}#icon-instagram">
          {% include 'icons/instagram.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_tumblr %}
      <li>
        <a href="https://{{ theme_config.social_tumblr }}.tumblr.com" rel="noreferrer noopener" target="_blank" title="Tumblr">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-tumblr">
  <use href="{{url('theme://templates/icons/tumblr.svg')}}#icon-tumblr" xlink:href="{{url('theme://templates/icons/tumblr.svg')}}#icon-tumblr">
          {% include 'icons/tumblr.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_spotify %}
      <li>
        <a href="https://play.spotify.com/user/{{ theme_config.social_spotify }}" rel="noreferrer noopener" target="_blank" title="Spotify">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-spotify">
  <use href="{{url('theme://templates/icons/spotify.svg')}}#icon-spotify" xlink:href="{{url('theme://templates/icons/spotify.svg')}}#icon-spotify">
          {% include 'icons/spotify.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_youtube %}
      <li>
        <a href="https://www.youtube.com/user/{{ theme_config.social_youtube }}" rel="noreferrer noopener" target="_blank" title="Youtube">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon-youtube">
  <use href="{{url('theme://templates/icons/youtube.svg')}}#icon-youtube" xlink:href="{{url('theme://templates/icons/youtube.svg')}}#icon-youtube">
          {% include 'icons/youtube.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_twitch %}
      <li>
        <a href="https://www.twitch.tv/{{ theme_config.social_twitch }}" rel="noreferrer noopener" target="_blank" title="Twitch">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-twitch">
  <use href="{{url('theme://templates/icons/twitch.svg')}}#icon-twitch" xlink:href="{{url('theme://templates/icons/twitch.svg')}}#icon-twitch">
          {% include 'icons/twitch.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_steam %}
      <li>
        <a href="https://steamcommunity.com/id/{{ theme_config.social_steam }}" rel="noreferrer noopener" target="_blank" title="Steam">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-steam">
  <use href="{{url('theme://templates/icons/steam.svg')}}#icon-steam" xlink:href="{{url('theme://templates/icons/steam.svg')}}#icon-steam">
          {% include 'icons/steam.svg' %}
        </use>
    </svg>
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_discord %}
      <li>
        <a href="https://discord.gg/{{ theme_config.social_discord }}" rel="noreferrer noopener" target="_blank" title="Discord Server">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-discord">
            <use href="{{url('theme://templates/icons/discord.svg')}}#icon-discord" xlink:href="{{url('theme://templates/icons/discord.svg')}}#icon-discord">
          {% include 'icons/discord.svg' %}
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_bitcoin %}
      <li>
        <a href="https://blockexplorer.com/address/{{ theme_config.social_bitcoin }}" rel="noreferrer noopener" target="_blank" title="Bitcoin">
             <svg xmlns="http://www.w3.org/2000/svg" class="icon-bitcoin">
            <use href="{{url('theme://templates/icons/bitcoin.svg')}}#icon-bitcoin" xlink:href="{{url('theme://templates/icons/bitcoin.svg')}}#icon-bitcoin">
          {% include 'icons/bitcoin.svg' %}
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_ethereum %}
      <li>
        <a href="https://etherscan.io/address/{{ theme_config.social_ethereum }}" rel="noreferrer noopener" target="_blank" title="Ethereum">
             <svg xmlns="http://www.w3.org/2000/svg" class="icon-ethereum">
            <use href="{{url('theme://templates/icons/ethereum.svg')}}#icon-ethereum" xlink:href="{{url('theme://templates/icons/ethereum.svg')}}#icon-ethereum">
          {% include 'icons/ethereum.svg' %}
        </a>
      </li>
    {% endif %}
    {% if theme_config.social_email %}
      <li>
        <a href="mailto:{{ theme_config.social_email }}" title="Email">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-email">
            <use href="{{url('theme://templates/icons/email.svg')}}#icon-email" xlink:href="{{url('theme://templates/icons/email.svg')}}#icon-email">
          {% include 'icons/email.svg' %}
        </a>
      </li>
    {% endif %}
    {% if theme_config.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-rss">
            <use href="{{url('theme://templates/icons/rss.svg')}}#icon-rss" xlink:href="{{url('theme://templates/icons/rss.svg')}}#icon-rss">
          {% include 'icons/rss.svg' %}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
