{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/navigation.html.twig' %}
	{{ page.content|raw }}
	<ul class="article-list">

		{% set collection = page.collection() %}

		{% for article in collection %}
			<li class="article-list-item {% if theme_config.scrollappear_enabled %}scrollappear{% endif %}">
				<a href="{{ article.url }}" title="{{ article.title }}">
					<h5 class="hoverarrow">{{ article.title }}
						<span class="arrow">→</span>
					</h5>

					<p>{{ article.header.headline }}</p>
					<div class="article-list-footer">
						<span class="article-list-date">
							{{ article.date|date('d-m-Y') }}
						</span>
						<span class="article-list-divider">-</span>
						<span class="article-list-minutes">
							{{ article.content|readingtime }}
						</span>

					</div>
				</a>
				<div class="article-list-tags">
					{% for tag in article.taxonomy.tag %}

						<a href="{{ base_url }}{{ config.plugins.taxonomylist.route }}/{{ 'tag' }}{{ config.system.param_sep }}{{ tag }}" class="taxonomylist">{{ tag|upper }}
						</a>

					{% endfor %}
				</div>
				{% if theme_config.summary_enabled == "on" %}
					<a href="{{ article.url }}" title="{{ article.title }}">
						<p>{{ article.summary|raw }}</p>
					</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
